<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contacto</title>
</head>
<body>
<h1>Formulario de Contacto</h1>
<form th:action="@{/contacto}" th:object="${contacto}" method="post">
    <label>Nombre:</label>
    <input type="text" th:field="*{nombre}" /><br/>
    <label>Email:</label>
    <input type="email" th:field="*{email}" /><br/>
    <label>Mensaje:</label>
    <textarea th:field="*{mensaje}"></textarea><br/>
    <button type="submit">Enviar</button>
</form>
</body>
</html>