<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <link rel="stylesheet" th:href="@{/css/productos.css}"/>
</head>
<body>
<div class="container">
    <h1>Lista de Productos</h1>
    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Detalle</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="producto : ${productos}">
            <td th:text="${producto.nombre}"></td>
            <td th:text="${'$' + producto.precio}"></td>
            <td>
                <a th:href="@{/productos/{id}(id=${producto.id})}">Ver detalle</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>